{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>List of books:</h3>
            </div>
            <div class="col">
            {% block simplesearch_form %}
                {% include 'items/forms/simplesearch_form.html' %}
            {% endblock %}
            </div>
            {% block questionmark_modal %}
                {% include 'items/modals/questionmark_modal.html' %}
            {% endblock %}
        </div>
        <div class="row" id="books">
            {% if books %}
                <div class="col-sm">
                {% block booklist_table %}
                    {% include 'items/tables/booklist_table.html' %}
                {% endblock %}
                {% for book in books %}
                    {% block moreinfo_modal %}
                        {% include 'items/modals/moreinfo_modal.html' %}
                    {% endblock %}
                {% endfor %}
            {% else %}
                <div class="col-sm">
                    <p>There are no such books in the system.</p>
                </div>
            {% endif %} 
        </div>
    </div>
    {% block booklist_paginator %}
        {% include 'items/paginators/booklist_paginator.html' with keyword=keyword parameter=parameter string_keyword="&keyword=" string_parameter="&parameter=" %}
    {% endblock %}
{% endblock %}