<div id="ModalQuestionmark" class="modal hide fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Search functionality</h2> 
            </div>
            <div class="modal-body">
                <h5>Choose parameter from parameter combo box then:</h5>
                <p><b>For 'Title':</b> Write down title of the book. For example: 'Pan Tadeusz'</p>
                <p><b>For 'Author(s)':</b> Write down author(s) name. For example: 'Adam Mickiewicz'.</p>
                <p><b>For 'Language':</b> Write down language of the book. For example: 'Polish'.</p>
                <p><b>For 'Publish date exact':</b> Write down or choose from calendar exact published date of the book. For example: '1834-10-30'</p>
                <p><b>For 'Publish date range':</b> In left input write down or choose date <i>from</i> when you want to search. 
                In right input write down or choose date <i>to</i> when you want to search.
                For example: 'yyyy-mm-dd to yyyy-mm-dd'. For example: '1834-01-01 to 1834-12-31'.<p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>