{% load widget_tweaks %}
<div class="container">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endif %}
    <h2>Advanced search</h2>
    <form method="get">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="titleLabel">Title</label>
                <input type="text" class="form-control" name="title" placeholder="Write down title of the book">
            </div>
            <div class="form-group col-md-4">
                <label for="authorsLabel">Author(s)</label>
                <input type="text" class="form-control" name="authors" placeholder="Write down author(s) of the book">
            </div>
            <div class="form-group col-md-4">
                <label for="languageLabel">Language</label>
                <input type="text" class="form-control" name="language" placeholder="Write down language of the book">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="isbnIdLabel">ISBN ID</label>
                <input type="text" class="form-control" name="isbnId" placeholder="Write down ISBN ID of the book">
            </div>
            <div class="form-group col-md-4">
                <label for="pageCountLabel">Number of pages</label>
                <input type="text" class="form-control" name="pageCount" placeholder="Write down pages number of the book">
            </div>
            <div class="form-group col-md-4">
                <label for="exactDateLabel">Exact date</label>
                <input type="text" class="form-control" name="exactDate" placeholder="Use yyyy-mm-dd format.">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col text-right">
            <div class="form-group float-right">
                <label for="dateStartLabel">Date from:</label>
                <input type="text" class="form-control text-right" name="dateStart" placeholder="Start date" style="width:auto;">
                <small id="dateStartHelpBlock" class="form-text text-muted">
                    Use yyyy-mm-dd format.
                </small>
            </div>
            </div>
            <div class="col text-left">
            <div class="form-group">
                <label for="dateEndLabel">Date to:</label>
                <input type="text" class="form-control" name="dateEnd" placeholder="End date" style="width:auto;">
                <small id="dateEndHelpBlock" class="form-text text-muted">
                    Use yyyy-mm-dd format.
                </small>
            </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col text-right">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary text-center">
                        <span class="glyphicon glyphicon-ok"></span> Search
                    </button>
                </div>
            </div>
            <div class="col text-left">
                <div class="form-group">
                    <select class="browser-default custom-select" style="width:auto;" name="parameter">
                        <option value="0">Search parameter</option>
                        <option value="1">Contains any field</option>
                        <option value="2">Contains all fields</option>
                    </select>
                    <small id="dateEndHelpBlock" class="form-text text-muted">
                        For "Contains all fields" option use "Exact date" OR "Date from, Date to".
                    </small>
                </div>
            </div>
        </div>
    </form>   
</div>
