{% load widget_tweaks %}
<div class="container">
    <div class="col-sm">
        {% if e %}
            <div class="alert alert-danger" role="alert">
            {{ e }}<br>
            </div>
        {% endif %}
        {% if title %}
            <div class="container">
                <div class="alert alert-success" role="alert">
                    Book <i>{{ title }}</i> has been successfully {{ process }}ed.
                </div>
            </div>
        {% endif %}
        <h4>{{ process|title }} book</h4>
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                </div>
            {% endif %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                {{ field.label_tag }}

                {% if form.is_bound %}
                    {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                        {{ error }}
                        </div>
                    {% endfor %}
                    {% else %}
                    {% render_field field  class="form-control"%}
                    {% endif %}

                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                </div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <button type="submit" class="btn btn-primary">{{ process|title }} book</button>
        </form>
    </div>
</div>