
<form method="GET" action="{% url 'book_search' %}"  role="form" class="form-inline float-right">
    <a type="button" class="btn btn-outline my-2 my-sm-0" data-toggle="modal" href="#ModalQuestionmark"></button>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg>
    </a>             
    <input class="form-control" type="text" placeholder='Search by text' id="text" aria-label="Search" name="keyword">
    <input class="form-control" type="date" placeholder='Search exact date' id="dateExact" aria-label="Search" name="dateExact">
    <input class="form-control" type="date" placeholder='Search date from' id="dateFrom" aria-label="Search" name="dateFrom">
    <input class="form-control" type="date" placeholder='Search date to' id="dateTo" aria-label="Search" name="dateTo">
    <select class="browser-default custom-select" name="parameter" id="parameter" required>
        <option value="">--------</option>
        <option value="title">Title</option>
        <option value="authors">Author(s)</option>
        <option value="language">Language</option>
        <option value="publishedDate">Publish date exact</option>
        <option value="dateRange">Publish date range</option>
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
    </button>
</form>
<script type="text/javascript">
    $('#dateExact').hide()
    $('#dateFrom').hide()
    $('#dateTo').hide()
    $('#text').hide()
    $('#parameter').change(function() {
    	var id = this.value;
        if (id == "title" || id == "authors" || id == "language"){        
            $('input').hide()
            $('#text').show();
        }
        if (id == "dateRange"){        
            $('input').hide()
            $('#dateFrom').show();
            $('#dateTo').show();
        }
        if (id == "publishedDate"){        
            $('input').hide()
            $('#dateExact').show();
        }
        if(id == ""){
            $('#dateExact').hide()
            $('#dateFrom').hide()
            $('#dateTo').hide()
            $('#text').hide()
        }
    });
</script>